<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} (%x) %-5p %c{2} - %m%n" />
		</layout>
	</appender>

	<appender name="file" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="console.log" />
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} (%x) %-5p %c{2} - %m%n" />
		</layout>
	</appender>	 
	
	<!-- Loggers -->
	<logger name="org.springframework">
		<level value="INFO" />
	</logger>
	
	<logger name="org.springframework.ws">
		<level value="INFO" />
	</logger>

	<logger name="org.hibernate">
		<level value="INFO" />
	</logger>
	
	<logger name="org.hibernate.type">
		<level value="TRACE" />
	</logger>
	
	<logger name="org.apache.commons.dbcp">
		<level value="INFO" />
	</logger>
	
	<logger name="uy.com.geocom">
		<level value="DEBUG" />
	</logger>
	
	<!-- Root Logger -->
	<root>
		<priority value="warn" />
		<appender-ref ref="console" />			
	</root>
	
</log4j:configuration>